.row-header{
    margin: 0px auto;
    padding:0px auto;
    border-top: 50px;
}
.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;

}

.footer{
    background-color:rgba(4, 3, 29, 0.897);
    color: floralwhite;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    
    color: floralwhite;
    background-color:black;
    

    
   
}
pre{
    color: floralwhite;
}


body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
    
    background-color:black;
    color: floralwhite;
    
}

.navbar-dark{
    background-color:rgba(4, 3, 29, 0.897);
    color: rgb(2, 1, 10);
}